.button {
    width: 100%;
    height: 40px;
    border: 0px;
    border-radius: 8px;
    background-color: #248BF2;
    font-size: 15px;
    color: #FFFFFF;
    font-weight: 600; 
    margin: 0px;
}

.whiteButton {
    background-color:#F2F3F5;
    color: #71747A;
}